body{
  overflow: hidden; 
  background: radial-gradient(ellipse at center, rgba(185,214,97,1) 0%, rgba(41,138,44,1) 100%);
  
}
#pantalla {
  height: 750px;
  width: 1300px;
  top: 462px;
  left: 50%;
  background:url("../imagenes/campo.jpg");
  position: absolute;
  transform: translateX(-50%);
  border-radius: 10%;
  border:2px solid rgb(54, 51, 51);

}

.jugador {
  height: 200px;
  width: 30px;
  position: absolute;
  border-radius: 20%;
  border:2px solid rgb(54, 51, 51);

  /* background-color: #86e608; */
  background: radial-gradient(
    ellipse at center,
    rgba(134, 230, 8, 1) 0%,
    rgba(123, 210, 7, 1) 21%,
    rgba(93, 156, 6, 1) 76%,
    rgba(80, 133, 5, 1) 100%
    
  );
}
#jugador1 {
}
#jugador2 {
}
.pelota {
  height: 35px;
  width: 35px;
  
  position: absolute;
  background:url('../imagenes/ball.png');
  border-radius: 50%;
 
  border:2px solid rgb(54, 51, 51);

}
.contador{
  height: 50px;
  width: 100px;
  position: absolute;
  background: linear-gradient(45deg, rgba(235,43,9,1) 0%, rgba(122,61,56,1) 100%);
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  display: inline-block;
  left: 50px;
  top: 50px;
  border-radius: 20%;
  border:2px solid rgb(54, 51, 51);

}
.contador1{
  height: 50px;
  width: 100px;
  position: absolute;
  background: linear-gradient(to bottom, rgba(24,11,194,1) 0%, rgba(32,124,229,1) 100%);
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  left: 1150px;
  top: 50px;
  border-radius: 20%;
  border:2px solid rgb(54, 51, 51);

}

#fondo-estadio{
  position: absolute;
  left:50%;
  top:-200px;
  transform: translateX(-50%);

} 
img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2434px;
}
#jugar{
  position: absolute;
  top: 400px;
  height: 50px;
  width: 150px;
  left: -50px;
  text-align: center;
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
.pantalla-inicio{
  background: radial-gradient(ellipse at center, rgba(185,214,97,1) 0%, rgba(41,138,44,1) 100%);
}
.pelota-fondo{
  
  width: 500px;
  height: 500px;
}
#inicio{
  position: absolute;
  top: 900px;
  height: 200px;
  width: 400px;
  left:1100px;
  border-radius: 20%;
  background: radial-gradient(ellipse at center, rgba(185,214,97,1) 0%, rgba(41,138,44,1) 100%);
  font-size: 25px;
  border: 2px solid rgb(54, 51, 51);
}