#pantalla {
  height: 750px;
  width: 1300px;
  top: 100px;
  left: 300px;
  background-color: #0a0a0a;
  position: relative;
  border: solid 10px #86e608;
}

.jugador {
  height: 200px;
  width: 30px;
  position: absolute;
  /* background-color: #86e608; */
  background: radial-gradient(
    ellipse at center,
    rgba(134, 230, 8, 1) 0%,
    rgba(123, 210, 7, 1) 21%,
    rgba(93, 156, 6, 1) 76%,
    rgba(80, 133, 5, 1) 100%
  );
}
#jugador1 {
}
#jugador2 {
}
.pelota {
  height: 35px;
  width: 35px;
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(134, 230, 8, 1) 0%,
    rgba(123, 210, 7, 1) 21%,
    rgba(93, 156, 6, 1) 76%,
    rgba(80, 133, 5, 1) 100%
  );
  border-radius: 50%;
}
.contador{
  height: 50px;
  width: 100px;
  position: absolute;
  background:red;
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;

}
